div{
width: 200px;
height: 60px;
background-color: purple;
border-radius: 10px;
box-shadow: -2px 2px 91px -7px rgba(193,242,245,1);;
}

button{
  width: 140px;
  height:40px;
  margin: 10px 0 0 30px ;
  background-color: rgb(165, 216, 244);
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}